<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="copy">

    <div>
        <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
            <div class="flex-w p-b-90">
                <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                    <h4 class="s-text12 p-b-30">
                        KERESS MEG
                    </h4>

                    <div>
                        <p class="s-text7 w-size27">
                            Ha barmi kerdesed van, szivesen segitek itt es itt
                        </p>

                        <div class="flex-m p-t-30">
                            <a href="https://www.facebook.com/groups/360913094763260/" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                            <a href="https://www.youtube.com/channel/UC-1xAOlQDNcP-nUhOZUnWfg" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
                        </div>
                    </div>
                </div>

                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">
                        TANACSADAS
                    </h4>

                    <ul>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Szemelyes tanacsadas
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Parkapcsolati tanacsadas
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                HR Kepzes
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Vezetokepzes
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">
                        Teszt
                    </h4>
                </div>

                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">
                        Szemelyisegtipusok
                    </h4>

                    <ul>
                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Track Order
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Returns
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                Shipping
                            </a>
                        </li>

                        <li class="p-b-9">
                            <a href="#" class="s-text7">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</div>


</html>