<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Rólam</title>
    <div th:replace="header.html :: copy"></div>
</head>
<body class="animsition">

<!-- Header -->
<div th:replace="navigation.html :: copy"></div>

<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
         style="background-image: url(static/fashe/images/heading-pages-06.jpg);">
    <h2 class="l-text2 t-center">
        Kapcsolat
    </h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-b-30">
                <div class="p-r-20 p-r-0-lg">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="503" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=budapest%20trencs%C3%A9ni%20utca%2045&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                            <a href="https://www.embedgooglemap.org">
                            </a>
                        </div>
                        <style>
                            .mapouter{position: relative;width: 100%;min-height: 1px;padding-right: 15px;padding-left: 15px;position:relative;text-align:right;height:503px;}.gmap_canvas {overflow:hidden;background:none!important;height:503px;}
                        </style>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <form method="post" class="leave-comment">
                    <h4 class="m-text26 p-b-36 p-t-15">
                        Beszéljünk!
                    </h4>

                    <div class="bo4 of-hidden size15 m-b-20">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Név">
                    </div>

                    <div class="bo4 of-hidden size15 m-b-20">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="phone-number"
                               placeholder="Telefon">
                    </div>

                    <div class="bo4 of-hidden size15 m-b-20">
                        <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="email"
                               placeholder="Email">
                    </div>

                    <textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="message"
                              placeholder="Üzenet"></textarea>

                    <div class="w-size25">
                        <!-- Button -->
                        <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                            Küldés
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Footer from this special file -->
<div th:replace="footer.html :: copy"></div>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
</div>

<!-- Container Selection -->
<div id="dropDownSelect1"></div>
<div id="dropDownSelect2"></div>


<!--===============================================================================================-->
<script type="text/javascript" src="static/fashe/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="static/fashe/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="static/fashe/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="static/fashe/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="static/fashe/vendor/select2/select2.min.js"></script>

<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});




</script>

<!--===============================================================================================-->

<script src="static/fashe/js/main.js"></script>


</body>
</html>
