<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Rólam</title>
	<meta charset="UTF-8">
	<div th:replace="header.html :: copy"></div>
</head>
<body class="animsition">

	<!-- Header -->
	<div th:replace="navigation.html :: copy"></div>

	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(static/fashe/images/heading-pages-06.jpg);">
		<h2 class="l-text2 t-center">
			Rólam
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
				<div class="col-md-4 p-b-30">
					<div class="hov-img-zoom">
						<img src="static/fashe/images/banner-14.jpg" alt="IMG-ABOUT">
					</div>
				</div>

				<div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						A történetem
					</h3>

					<p class="p-b-28">
						Hosszú út vezetett az MBTI-ig és a tudományágak sokkal kézzelfoghatóbb sokaságainak a tárházát próbáltam ki, mielőtt eljutottam ide,
						kezdve az építészettel, folytatva a közgazdaságtannal, ezeket alkalmazva a nemzetközi szállítmányozásban, HR-es munkában és - wait for it - a
						hollywoody filmes díszletek építésében.
						De aztán csak eljutottam ide úgy hogy.
						Abban hiszek, hogy.
						Az elmúlt években azt tapasztaltam, hogy az életem harmonikusabb lett és olyan célokat sikerlt elérnem, amik amúgy elérhetetlennek tntek volna.
						Jobban értem a körülöttem lévő embereket, kisimultabbak lettek a családi viszonyaim és a párkapcsolatom is, de ami a legofontosabb,
						megtanultam megérteni és szeretni magamat és a működésemet.
						Ezt szeretném megmutatni másoknak is.

					</p>

					<div class="bo13 p-l-29 m-l-9 p-b-10">
						<p class="p-b-11">
Legyél mindig önmagad. Kivéve, ha lehetsz Batman. Akkor legyél inkább Batman.
						</p>

						<span class="s-text7">
							- Steve Jobs
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer from this special file -->
	<div th:replace="footer.html :: copy"></div>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="static/fashe/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/fashe/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/fashe/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="static/fashe/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="static/fashe/vendor/select2/select2.min.js"></script>

	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>

	<!--===============================================================================================-->

	<script src="static/fashe/js/main.js"></script>


</body>
</html>
